<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring MVC Example</title>
  </head>

  <body>
    <h1>Liste des contacts</h1>

    <form action="/contacts" method="get">
      <label>Filtrer par note exacte : </label>
      <input type="number" name="noteExacte" min="0" max="20"/>
      <button type="submit">Chercher</button>
    </form>

    <form action="/contacts" method="get">
      <label>Contacts mal notés (note max) : </label>
      <input type="number" name="noteMax" value="2" min="0" max="20"/>
      <button type="submit">Filtrer</button>
    </form>

    <p><a href="/contacts">Voir tous les contacts</a></p>

    <table border="2">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Note</th>
      </tr>

      <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}" />
        <td th:text="${contact.nom}" />
        <td th:text="${contact.email}" />
        <td th:text="${contact.note}" />
      </tr>
    </table>

    <h2><a href="/">Revenir à l'accueil</a></h2>
  </body>
</html>
